<div ng-controller="TodoCtrl">
  <form ng-submit="addTodo()">
    <input type="text" ng-model="title" placeholder="입력해주세요~">
    <span style="color:red">{{title}}</span>
  </form>
  <ul>
    <li ng-repeat="todo in todos">
      <span ng-init="isShowLabel=true"></span>
      <span style="width:200px;display:inline-block" ng-click="isShowLabel=!isShowLabel" ng-show="isShowLabel">{{todo.title}}</span>
      <input type="text" value="{{todo.title}}" style="width:200px" ng-model="todo.title" ng-show="!isShowLabel">
      <button ng-click="isShowLabel=true;updateTodo(todo)" ng-show="!isShowLabel">수정</button>
      <button ng-click="delTodo(todo)">삭제</button>
      <a ng-href="#/detail/{{todo.id}}">상세보기</a>
    </li>
  </ul>
</div>